@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Navbar styles */
.navbar {
    background-color: rgb(76, 175, 80);
    color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan properti ini untuk bayangan */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brand-container {
    display: flex;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.logo {
    width: auto; /* Ukuran lebar gambar logo */
    max-height: 50px; /* Maksimum tinggi gambar logo */
    margin-right: 10px; /* Jarak antara logo dan teks */
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0F4C3A;
}



/* Hero section styles */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    text-align: center;
    background-image: url('../images/home1.png');
    background-repeat: no-repeat; /* Mencegah gambar background berulang */
    background-size: cover; /* Membuat gambar background menutupi seluruh elemen */
    background-position: center; /* Memusatkan gambar background */
    color: #fff;
    padding: 0 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: rgb(76, 175, 80);
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #d48806;
}

/* Anime */
.konten {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Mengatur konten di atas background */
    opacity: 0.2;
}

.kotak_konten {
    width: 100px;
    height: 100px;
    background-color: rgb(76, 175, 80);
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .nav-links {
        display: none; /* Menyembunyikan tautan menu di layar kecil */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(76, 175, 80);
        transition: max-height 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
        z-index: 1;
    }

    .nav-links.open {
        max-height: 200px; /* Buka menu saat di-hover atau diklik */
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links a {
        color: #fff;
        font-size: 1.2rem;
    }

    .hero-section {
        padding: 0 1rem;
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .konten {
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .brand {
        font-size: 1.2rem;
    }

    .nav-links {
        top: 60px;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .kotak_konten {
        width: 80px;
        height: 80px;
    }
}
