@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg-green {
    background-color: rgb(76, 175, 80);
} 

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-24 {
    font-size: 24px;
}

.text-36 {
    font-size: 360px;
}

.text-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-monstserrat {
    font-family: "Montserrat", sans-serif;
}

.text-roboto {
    font-family: "Roboto", sans-serif;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.pt-2 {
    padding-top: 2px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-18 {
    padding-top: 18px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pr-16 {
    padding-right: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-25 {
    padding-left: 25px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-0 {
    margin-bottom: 0px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center
}

.w-full {
    width: 100%;
}

.w-500 {
    width: 500px;
}

.gap-20 {
    gap: 20px;
}

.box-shadow-1 {
    border: none;
    box-shadow: 0 5px 7px -5px #888888, 0 0px 6px -5px #888888;
}

.text-center {
    text-align: center;
}

.h-60 {
    height: 60px;
}

.h-50 {
    height: 50px;
}

.h-250 {
    height: 250px;
}

.w-700 {
    width: 700px;
}

.ml-30 {
    margin-left: 40px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-40 {
    margin-right: 40px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-rows-200 {
    grid-auto-rows: 200px;
}

.background {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url('../images/background.png');
    background-size: cover; 
    background-position: center; 
    opacity: 0.1; 
}
  
.content {
    z-index: 2;
    padding-top: 80px; 
}

.pr-0 {
    padding-right: 0px;
}


#pad{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
}

.dropdown-toggle {
    width: 370px;
    height: 50px;
    background-color: white;
    color: black;
    padding: 8px 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
/* Dropdown button on hover & focus */
.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: rgb(241, 239, 239);
}
  
/* The search field */
#searchInput {
    width: 370px;
    height: 50px;
    box-sizing: border-box;
    background-image: url('../images/Search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 45px;
    font-size: 14px;
    padding: 14px 20px 12px 50px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}
  
/* The search field when it gets focus/clicked on */
#searchInput:focus {
    outline: 3px solid #ddd;
}
  
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    margin-top: 8px;
    margin-right: 0px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    border: none;
    box-shadow: 0 5px 7px -5px #888888, 0 0px 6px -5px #888888;
    width: 370px;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffff;
    width: 370px;
    height: 450px;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    z-index: 2;
    box-shadow: 0 5px 7px -5px #888888, 0 0px 6px -5px #888888;
}

.dropdown-menu.show {
    display: block;
    z-index: 3;
}
  
/* Links inside the dropdown */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.checkbox-container:hover {background-color: grey}

/* Styling untuk label */
label {
    display: inline-block; /* Mengubah label menjadi inline block agar dapat diatur posisinya */
    margin-left: 20px;
    margin-top: 12px; /* Memberikan margin kiri agar ada jarak antara checkbox dan teks */
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(46, 45, 45);
}
  
/* Styling untuk checkbox */
input[type="checkbox"] {
    transform: scale(1.5); /* Memperbesar ukuran checkbox */
    vertical-align: middle; /* Mengatur posisi vertikal ke tengah */
    margin-left: 25px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
}

/* Styling untuk area ceklis pada checkbox */
input[type="checkbox"]::before {
    content: ''; /* Menambahkan konten kosong */
    display: inline-block; /* Menampilkan sebagai inline block */
    width: 15px; /* Lebar kotak ceklis */
    height: 15px; /* Tinggi kotak ceklis */
    background-color: rgb(224, 224, 224); /* Warna latar belakang kotak ceklis */
    margin-right: 5px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
  }
  
/* Styling untuk ceklis box pada checkbox */
input[type="checkbox"]:checked::before {
    content: '\1F5F8'; /* Menambahkan tanda ceklis ✓ */
    font-size: 15px; /* Ukuran font ceklis */
    color: rgb(82, 80, 80); /* Warna ceklis hitam */
    position:relative; /* Mengatur posisi relatif */
    display: flex;
    align-items: center;
    justify-content: center;
 /* Mengatur posisi horizontal ceklis */
}

#filter-pizza {
    height: 50px;
    border: none;
    width: 370px;
    text-align: left;
}



table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: none;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 6px 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: sticky;
    top: 0;
    z-index: 2;
}

td:nth-child(2) {
    text-align: left;
}

/* Right align for columns 3, 4, and 5 */
td:nth-child(n+3) {
    text-align: right;
}

tr:hover {
    background-color: #ddd;
}

.table-wrapper {
    max-height: calc(7 * 1.9em + 1.9em); /* Approximate height for 7 rows + header */
    overflow-y: hidden;
    position: relative;
}

.table-wrapper:hover {
    overflow-y: auto;
}

tbody {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.box{
    background-color: rgb(76,175,80);
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 20px;

}

.box1{
    background-color: rgb(76,175,80);
    text-align: center;
    color: white;
    width: 200px;
    height: 58px;
    margin-left: 50px;
}

.box2{
    background-color: rgb(76,175,80);
    text-align: center;
    color: white;
    width: 200px;
    height: 58px;
}

.quan{
    font-size: 15px;
    padding-top: 5px;
}

.uk{
    font-size: 30px;
}



#pad{
    padding-left: 120px;
}

.dropbtn {
    width: 370px;
    height: 50px;
    background-color: white;
    color: black;
    padding: 8px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-style: none;
    text-align: left;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  
  /* The search field */
  #myInput {
    width: 370px;
    height: 50px;
    box-sizing: border-box;
    background-image: url('../images/Search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 45px;
    font-size: 12px;
    padding: 14px 20px 12px 50px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    width: 370px;
    height: 467px;
    border: 1px solid #ddd;
    z-index: 3;
  }
  
  /* Links inside the dropdown */
  .checkbox-container {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .checkbox-container:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Styling untuk label (nama bulan) */
label {
    display: inline-block; /* Mengubah label menjadi inline block agar dapat diatur posisinya */
    margin-left: 20px;
    margin-top: 12px; /* Memberikan margin kiri agar ada jarak antara checkbox dan teks */
  }
  
  /* Styling untuk checkbox */
  input[type="checkbox"] {
    transform: scale(1.5); /* Memperbesar ukuran checkbox */
    vertical-align: middle; /* Mengatur posisi vertikal ke tengah */
    margin-left: 25px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
  }

/* Styling untuk area ceklis pada checkbox */
input[type="checkbox"]::before {
    content: ''; /* Menambahkan konten kosong */
    display: inline-block; /* Menampilkan sebagai inline block */
    width: 15px; /* Lebar kotak ceklis */
    height: 15px; /* Tinggi kotak ceklis */
    background-color: rgb(224, 224, 224); /* Warna latar belakang kotak ceklis */
    /* Mengatur sudut bulat kotak ceklis */
    margin-right: 5px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
  }
  
  /* Styling untuk ceklis box pada checkbox */
  input[type="checkbox"]:checked::before {
    content: '\2714'; /* Menambahkan tanda ceklis ✓ */
    font-size: 15px; /* Ukuran font ceklis */
    color: #000; /* Warna ceklis hitam */
    position: relative; /* Mengatur posisi relatif */
 /* Mengatur posisi horizontal ceklis */
  }

.bar{
    width: 100%;
    margin-top: 20px;
}

.cek{
  padding-top: 15px;
  padding-left: 15px;
}

.right-box {
    border-collapse: collapse;
    width: 100%;
    margin-top: 80px;
}
.right-box th{
   
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
    margin-top: 10px;
}

.right-box td {
    
    padding: 4px;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}
.right-box th {
    background-color:  rgb(76, 175, 80);
}
.team {
    font-family: 'Montserrat', sans-serif;
}

.about-us {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/greygradient.jpg);
    background-size: cover;
    overflow: hidden;
    padding-top: 80px; 
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    margin: 20px 0;
}

.profile-card {
    position: relative;
    width: 180px;
    height: 200px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 20px 10px;
}

.profile-card .img {
    width: 100%;
    height: 100%;
    transform: translateY(-35px);
}

.img img {
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
}

.caption {
    text-align: center;
    transform: translateY(-40px); 
}

.caption h3 {
    font-size: 16px;
    color: rgb(13, 90, 36);
    font-weight: 600;
}

.profile-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.title-card {
    border-radius: 20px;
    background-color: #CFF4A4;
    width: 30%;
    margin: 20px auto; /* Adjust the margin to center the title-card */
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    color: rgb(13, 90, 36);
}

.title {
    font-size: 36px;
    font-weight: 1000;
}

.sub-title {
    font-size: 24px;
}

nav {
    background: #4CAF50;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 0;
}

.logo-img {
    max-height: 50px;
    vertical-align: middle;
}

nav ul {
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    transition: background 0.5s, color 0.5s, border-bottom 0.5s;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
nav ul li a:hover {
    background: none;
    color: #0b5c24;
    border-bottom: 2px solid #0b5c24;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* Media Queries for responsiveness */
@media screen and (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .title-card {
        width: 50%;
    }
    .title {
        font-size: 24px;
    }
    .sub-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .title-card {
        width: 70%;
    }
    .profile-card {
        width: 150px;
        height: 170px;
    }
    .profile-card .img {
        transform: translateY(-20px);
    }
    .caption {
        transform: translateY(-50px);
    }
    .checkbtn {
        display: block;
        margin-top: 0;
    }
    nav ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 17px;
    }
    nav ul li a:hover {
        background: none;
        color: #9ab8f0;
        border-bottom: 2px solid #9ab8f0;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media screen and (max-width: 480px) {
    .title-card {
        width: 90%;
    }
    .profile-card {
        width: 120px;
        height: 160px;
    }
    .profile-card .img {
        transform: translateY(-25px);
    }
    .caption {
        transform: translateY(-70px);
    }
}

.brand {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#barchart{
    margin-left: 20px;
}