@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg-green {
    background-color: rgb(76, 175, 80);
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-24 {
    font-size: 24px;
}

.text-36 {
    font-size: 36px;
}

.text-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-monstserrat {
    font-family: "Montserrat", sans-serif;
}

.text-roboto {
    font-family: "Roboto", sans-serif;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.pt-2 {
    padding-top: 2px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-18 {
    padding-top: 18px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-25 {
    padding-left: 25px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-0 {
    margin-bottom: 0px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center
}

.w-full {
    width: 100%;
}

.gap-20 {
    gap: 20px;
}

.box-shadow-1 {
    border: none;
    box-shadow: 0 5px 7px -5px #888888, 0 0px 6px -5px #888888;
}

.text-center {
    text-align: center;
}

.h-60 {
    height: 60px;
}

.h-50 {
    height: 50px;
}

.h-250 {
    height: 250px;
}

.w-700 {
    width: 700px;
}

.ml-30 {
    margin-left: 40px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-40 {
    margin-right: 40px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-rows-200 {
    grid-auto-rows: 200px;
}

.background {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url('./images/background.png');
    background-size: cover; 
    background-position: center; 
    opacity: 0.1; 
}
  
.content {
    z-index: 1; 
}

.pr-0 {
    padding-right: 0px;
}




#pad{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
}

.dropdown-toggle {
    width: 370px;
    height: 50px;
    background-color: white;
    color: black;
    padding: 8px 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
/* Dropdown button on hover & focus */
.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: rgb(241, 239, 239);
}
  
/* The search field */
#searchInput {
    width: 370px;
    height: 50px;
    box-sizing: border-box;
    background-image: url('./images/Search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 45px;
    font-size: 14px;
    padding: 14px 20px 12px 50px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}
  
/* The search field when it gets focus/clicked on */
#searchInput:focus {
    outline: 3px solid #ddd;
}
  
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    margin-top: 8px;
    margin-right: 10px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    border: none;
    box-shadow: 0 5px 7px -5px #888888, 0 0px 6px -5px #888888;
    width: 370px;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffff;
    width: 370px;
    height: 450px;
    /* border: 1px solid #ddd; */
    border: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    box-shadow: 0 5px 7px -5px #888888, 0 0px 6px -5px #888888;
}
  
/* Links inside the dropdown */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.checkbox-container:hover {background-color: grey}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-menu.show {
    display: block;
}

/* Styling untuk label */
label {
    display: inline-block; /* Mengubah label menjadi inline block agar dapat diatur posisinya */
    margin-left: 20px;
    margin-top: 12px; /* Memberikan margin kiri agar ada jarak antara checkbox dan teks */
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(46, 45, 45);
}
  
/* Styling untuk checkbox */
input[type="checkbox"] {
    transform: scale(1.5); /* Memperbesar ukuran checkbox */
    vertical-align: middle; /* Mengatur posisi vertikal ke tengah */
    margin-left: 25px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
}

/* Styling untuk area ceklis pada checkbox */
input[type="checkbox"]::before {
    content: ''; /* Menambahkan konten kosong */
    display: inline-block; /* Menampilkan sebagai inline block */
    width: 15px; /* Lebar kotak ceklis */
    height: 15px; /* Tinggi kotak ceklis */
    background-color: rgb(224, 224, 224); /* Warna latar belakang kotak ceklis */
    margin-right: 5px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
  }
  
/* Styling untuk ceklis box pada checkbox */
input[type="checkbox"]:checked::before {
    content: '\1F5F8'; /* Menambahkan tanda ceklis ✓ */
    font-size: 15px; /* Ukuran font ceklis */
    color: rgb(82, 80, 80); /* Warna ceklis hitam */
    position:relative; /* Mengatur posisi relatif */
    display: flex;
    align-items: center;
    justify-content: center;
 /* Mengatur posisi horizontal ceklis */
}

#filter-pizza {
    height: 50px;
    border: none;
    width: 370px;
    text-align: left;
}



table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: none;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 6px 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: sticky;
    top: 0;
    z-index: 2;
}

td:nth-child(2) {
    text-align: left;
}

/* Right align for columns 3, 4, and 5 */
td:nth-child(n+3) {
    text-align: right;
}

tr:hover {
    background-color: #ddd;
}

.table-wrapper {
    max-height: calc(7 * 1.6em + 1.6em); /* Approximate height for 7 rows + header */
    overflow-y: hidden;
    position: relative;
}

.table-wrapper:hover {
    overflow-y: auto;
}

tbody {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.box{
    background-color: rgb(76,175,80);
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 20px;

}

.box1{
    background-color: rgb(76,175,80);
    text-align: center;
    color: white;
    width: 200px;
    height: 58px;
    margin-left: 50px;
}

.box2{
    background-color: rgb(76,175,80);
    text-align: center;
    color: white;
    width: 200px;
    height: 58px;
}

.quan{
    font-size: 15px;
    padding-top: 5px;
}

.uk{
    font-size: 30px;
}



#pad{
    padding-left: 120px;
}

.dropbtn {
    width: 300px;
    height: 50px;
    background-color: #ffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 1px solid gainsboro;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  
  /* The search field */
  #myInput {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    background-image: url('Search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 45px;
    font-size: 16px;
    padding: 14px 20px 12px 50px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    width: 300px;
    height: 467px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .checkbox-container {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .checkbox-container:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Styling untuk label (nama bulan) */
label {
    display: inline-block; /* Mengubah label menjadi inline block agar dapat diatur posisinya */
    margin-left: 20px;
    margin-top: 12px; /* Memberikan margin kiri agar ada jarak antara checkbox dan teks */
  }
  
  /* Styling untuk checkbox */
  input[type="checkbox"] {
    transform: scale(1.5); /* Memperbesar ukuran checkbox */
    vertical-align: middle; /* Mengatur posisi vertikal ke tengah */
    margin-left: 25px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
  }

/* Styling untuk area ceklis pada checkbox */
input[type="checkbox"]::before {
    content: ''; /* Menambahkan konten kosong */
    display: inline-block; /* Menampilkan sebagai inline block */
    width: 15px; /* Lebar kotak ceklis */
    height: 15px; /* Tinggi kotak ceklis */
    background-color: rgb(224, 224, 224); /* Warna latar belakang kotak ceklis */
    /* Mengatur sudut bulat kotak ceklis */
    margin-right: 5px; /* Memberikan margin kanan agar ada jarak antara checkbox dan teks */
  }
  
  /* Styling untuk ceklis box pada checkbox */
  input[type="checkbox"]:checked::before {
    content: '\2714'; /* Menambahkan tanda ceklis ✓ */
    font-size: 15px; /* Ukuran font ceklis */
    color: #000; /* Warna ceklis hitam */
    position: relative; /* Mengatur posisi relatif */
 /* Mengatur posisi horizontal ceklis */
  }

.bar{
    width: 100%;
    margin-top: 20px;
}

.cek{
  padding-top: 15px;
  padding-left: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 80px;

}
th{
   
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
    margin-top: 10px;
}

td {
    
    padding: 4px;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}
th {
    background-color:  rgb(76, 175, 80);
}
 

